button {
    background: transparent;
    border-radius: 0;
    border: 0;
    padding: 0;

    -webkit-appearance: none;
    -webkit-border-radius: 0;

    user-select: none;
}

button:focus {
    outline: 0 none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}